<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Testing Suite" parallel="methods" thread-count="3"> <!-- TestNG Test Suite Configuration -->
    <test name="Posts Tests"> <!-- Posts Test Set -->
        <classes>
            <class name="com.david.tests.TestPosts"/>
        </classes>
    </test>
    <test name="Comments Tests"> <!-- Comments Test Set -->
        <classes>
            <class name="com.david.tests.TestComments"/>
        </classes>
    </test>
</suite>